...

.cookie-check-div{
	display:none;
	width:100%;
	padding:20px;
	position:fixed;
	left:0;
	top:0;
	color:#fff;
	background:#555;
	z-index:99999999999;
}

.cookie-check-div-txt{
	float:left;
	margin:auto auto auto auto;
	padding:5px;
}

.cookie-check-div-bt{
	float:right
}
...
